[submodule "website/public"]
	path = website/public
	url = https://github.com/DSC-SPIDAL/harp.git
	branch = gh-pages
[submodule "harp-daal-app/daal-src"]
	path = harp-daal-app/daal-src
	url = https://github.com/DSC-SPIDAL/harp.git
	branch = daal_2018_beta
